@model InfoTracker.ViewModels.AddITViewModel
<h1>Add Information</h1>

<form asp-controller="IT" asp-action="Add" method="post">
    <h3>Personal Information</h3>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="Text" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phonenumber"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="Phonenumber" />
        <span asp-validation-for="Phonenumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomeAdd"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="HomeAdd" />
        <span asp-validation-for="HomeAdd"></span>
    </div>

    <div class="form-group">
        <label asp-for="DOB"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="DOB" />
        <span asp-validation-for="DOB"></span>
    </div>
    <h3>Govenment Information</h3>
    <div class="form-group">
        <label asp-for="PassportDetails"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="PassportDetails" />
        <span asp-validation-for="PassportDetails"></span>
    </div>

    <div class="form-group">
        <label asp-for="DriversLicense"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="DriversLicense" />
        <span asp-validation-for="DriversLicense"></span>
    </div>
    <div class="form-group">
        <label asp-for="SSN"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="SSN" />
        <span asp-validation-for="SSN"></span>
    </div>
    <h3>Financial Information</h3>
    <div class="form-group">
        <label asp-for="Card"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="Card" />
        <span asp-validation-for="Card "></span>
    </div>

    <div class="form-group">
        <label asp-for="CardLast4digits"></label>
        <input class="Text" asp-for="CardLast4digits" />
        <span asp-validation-for="CardLast4digits"></span>
    </div>

    <div class="form-group">
        <label asp-for="Check"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="Check" />
        <span asp-validation-for="Check"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cash"></label>
        <input unchecked="unchecked" type="checkbox"
               asp-for="Cash" />
        <span asp-validation-for="Cash"></span>
    </div>

    <input type="submit" value="Add" />


</form>

